
:root{
    --color-background: #041F4F;
}

.background{
    -fx-background-color:  #ECECEB;
}
#progress:hover{
    -fx-background-color:#DCEAA8;

}
.buttonSelected{
    -fx-background-color:red;

}
#button_create{
    -fx-pref-width:45px;
    -fx-pref-height:50px;
    -fx-background-image:url("../img/pen.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size:contain;
    -fx-background-color:transparent;
}

#button_create:hover{
    -fx-background-image:url("../img/create_blue.png");

}


#button_stats{
    -fx-pref-width:45px;
    -fx-pref-height:50px;
    -fx-background-image:url("../img/stats.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size:contain;
    -fx-background-color:transparent;
}

#button_stats:hover{
    -fx-background-image:url("../img/stats_blue.png");
}

#button_settings{
    -fx-pref-width:45px;
    -fx-pref-height:50px;
    -fx-background-image:url("../img/settings.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size:contain;
    -fx-background-color:transparent;
}

#button_settings:hover{
    -fx-background-image:url("../img/settings_blue.png");

}

#card_img{
    -fx-pref-width:400px;
    -fx-pref-height:180px;
    -fx-background-image:url("../img/student_card.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size:contain;
    -fx-background-color:transparent;
    -fx-padding--left:15px;
    
}

#card_imgEmployee{
    -fx-pref-width:400px;
    -fx-pref-height:180px;
    -fx-background-image:url("../img/funcionario.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size:contain;
    -fx-background-color:transparent;
    -fx-padding--left:15px;
    
}


#searchButton{
    -fx-background-image:url("../img/search.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size:contain;
    -fx-background-color:transparent;

}

#card_studentButton{
    -fx-background-color:black;
    -fx-text-fill:#b1aaaa;
}

#card_employeeButton{
    -fx-background-color:black;
    -fx-text-fill:#b1aaaa;
}


#card_studentButton:selected{
    -fx-background-color:#C5EE4E;
    -fx-text-fill:#A6A6A6;

}

#card_employeeButton:selected{
    -fx-background-color:#C5EE4E;
    -fx-text-fill:#b1aaaa;

}

.buttons{
    -fx-background-repeat:no-repeat;
    -fx-background-size:contain;
    -fx-background-color:transparent;
}
.buttonOnHover:hover{
    -fx-background-color:#C5EE4E;
}
.buttonOnHoverPerson:hover{
    -fx-background-color:#020202;
    -fx-text-fill:white;

}



#newCard{
    -fx-text-decoration:bold;
    -fx-border:none;
    -fx-background-color:#A6A6A6;
}

